@font-face {
  font-family: Poetsen;
  src: url("font/PoetsenOne-Regular.ttf");
}
@font-face {
  font-family: OpenSans;
  src: url("font/OpenSans-VariableFont_wdth\,wght.ttf");
}
body {
  background-image: url("img/Rectangle.png");
  background-size: cover;
}

.slogan {
  font-family: Poetsen;
  color: white;
  margin-top: 170px !important;
}
.frame_login {
  padding: 0 68px !important;
  height: 750px;
}

.frame_login#frame_login3 {
  padding: 0 45px !important;
}
.form-control {
  width: 500px !important;
}
.frame_login input {
  height: 31px;
  outline: none;
}
.form-label {
  color: var(--xm-than, #767676);
  font-family: OpenSans;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
}
#process {
  margin-top: 20px;
}
#container_login {
  margin-top: 20px;
  height: 865px !important;
}
.line {
  width: 50px;
  height: 1px;
  border-style: solid;
}

.circle.active {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 2px solid var(--primary-purple, #301e67);
  background: var(--primary-purple, #301e67);
}

.circle {
  color: #301e67;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 2px solid var(--primary-purple, #301e67);
  background: white;
}

.checkmark {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
}
.title {
  margin-top: 40px !important ;
  font-family: Poetsen;
  color: #301e67;
}
.title#title_stage3 {
  font-size: 2.6rem;
}
.subtitle {
  font-family: OpenSans;
}
.form-control {
  border: none !important;
}
.continue_btn {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  background-color: #634fbe !important;
}

.continue_btn:hover {
  color: var(--cta-button, #634fbe) !important;

  background: var(--Hover-purple, #dcd4e1) !important;
}

.line1 {
  width: 180px;
  height: 1px;
  background-color: grey;
}
.app {
  font-family: OpenSans;
  display: flex !important;
  width: 575px !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 15px !important;
  border-radius: 30px !important;
  background-color: white !important;
  color: var(--xm-than, #767676) !important;
  font-weight: 400 !important;
  border: 1px solid var(--xm-than, #767676) !important;
  font-size: 20px !important;
}
.app1 {
  font-family: OpenSans;
  display: flex !important;
  width: 575px !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 15px !important;
  border-radius: 30px !important;
  background-color: white !important;
  color: var(--xm-than, #767676) !important;
  font-weight: 400 !important;
  border: 1px solid var(--xm-than, #767676) !important;
  font-size: 20px !important;
  transition: background-color 0.2s ease-in;
}
.app:hover {
  background-color: #634fbe !important;
  color: white !important;
  cursor: pointer;
}
.app1:hover {
  color: var(--cta-button, #634fbe) !important;
  font-weight: 700 !important;
  background: var(--Hover-purple, #dcd4e1) !important;
  border: none !important;
  cursor: pointer;
}
.error {
  color: red;
}
body {
  width: 100%;
  height: 100vh;
  background-image: url(src/Rectangle.png);
  background-size: cover;
  padding: 60px 70px;
}
.card {
  width: 711px;
  height: 817px;
  border-radius: 10px;
  padding: 116px 68px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.slogan {
  font-family: poetsen one;
  color: white;
  margin-top: 170px !important;
}
p {
  width: 100%;
}
.header {
  background-color: transparent;
  color: #000000;
  text-align: center;
  margin-bottom: 55px;
  font-size: 16px;
  font-family: open sans;
}
.header a {
  color: #2e50ff !important;
}
.header p {
  margin-top: 27px;
}
h1 {
  font-family: poetsen one;
  color: #301e67;
  font-size: 50px;
}
.hr-container {
  position: relative;
  width: 100%;
  margin-top: 55px;
  margin-bottom: 30px;
  padding: 0 56px;
  margin-left: auto;
  margin-right: auto;
  font-family: open sans;
}

hr {
  border: none;
  height: 1px;
  background-color: #000;
}

.text-over-hr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 0 10px;
  color: #000;
}
.card-body {
  width: 100%;
  background-color: transparent;
  padding: 0%;
}
a {
  font-family: open;
  font-size: 16px;
  text-decoration: none;
  font-family: open sans;
}

label {
  color: #767676;
  margin-bottom: 3px;
  font-size: 16px;
  font-family: open sans;
}
#username {
  width: 100%;
  height: 31px;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #767676;
  font-size: 16px;
  color: #000000;
  font-family: open sans;
}
#password {
  width: 100%;
  height: 31px;
  outline: 0;
  border: 0;
  font-size: 16px;
  color: #000000;
  font-family: open sans;
}
.password_border {
  width: 100%;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #767676;
}
#eye {
  cursor: pointer;
}
#submit_btn {
  width: 140px;
  height: 47px;
  display: flex;
  justify-content: center;
  background-color: #634fbe;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
  font-family: open sans;
  padding-left: 40px;
  padding-right: 40px;
}
#submit_btn:hover {
  background-color: #dcd4e1;
  color: #301e67;
}
@font-face {
  font-family: "poetsen one";
  src: url(fonts/PoetsenOne-Regular.ttf);
}
@font-face {
  font-family: "open sans";
  src: url(fonts/OpenSans-VariableFont_wdth\wght.ttf);
}
.btn {
  display: flex;
  vertical-align: middle;
}
.other_login {
  width: 100%;
  outline: none;
  height: 52px;
  margin-top: 15px;
  background-color: transparent;
  border: 1px solid #767676;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50px;
  font-family: open sans;
  font-size: 16px;
  vertical-align: middle;
}
.other_login:hover {
  background-color: #dcd4e1;
  color: #634fbe;
  border: none;
}
.other_login:active {
  background-color: #634fbe;
  color: #fff;
}
.img_toast {
  width: 40px;
  height: 20px;
}
.passwordField {
  border-bottom: 1px solid #301e67 !important; /* Thêm dòng kẻ ở dưới */
  border-radius: 0 !important;
}
.mail_business {
  width: 512px !important;
  border-bottom: 1px solid #301e67 !important; /* Thêm dòng kẻ ở dưới */
  border-radius: 0 !important;
}
.option {
  width: 512px !important;
}

.input i {
  cursor: pointer;
}

.divider {
  margin-top: 44px;
}