body {
  background-color: #dcd4e1;
}

*::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #dcd4e1;
  border-radius: 10px;
  width: 5px;
}

#header_title {
  font-family: open sans;
  font-weight: bold;
  font-weight: 80px;
  color: #301e67;
}
.container {
  width: 1100px;
  max-height: 692px;
}
label {
  padding: 0%;
}

@font-face {
  font-family: "open sans";
  src: url(fonts/OpenSans-VariableFont_wdth\wght.ttf);
}
@font-face {
  font-family: "open sans light";
  src: url(fonts/OpenSans_SemiCondensed-Light.ttf);
}
.headerInfor {
  font-size: 18px;
  font-family: open sans light;
  padding: 0%;
  color: #301e67;
  margin-top: 20px;
  font-weight: bold;
}
.sb_background {
  width: 542px;
  height: 628px;
  margin-bottom: 10px;
  padding: 0%;
}
.infor {
  margin: auto 0px;
  padding: 0%;
  color: #767676;
  font-family: open sans light;
}
.left {
  width: 540;
}
.order_input {
  width: 251px;
  height: 54px;
  border-radius: 10px;
  margin: 0%;
  font-family: open sans light;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.spacing {
  margin-top: 10px;
  padding-left: 18px;
  padding-right: 18px;
}
.custominfor {
  font-family: open sans light;
  margin-top: 25px;
  color: #767676;
}
.custom_input {
  border: none;
  border-bottom: 1px solid #767676;
  outline: none;
  padding: 0%;
}
.order_input {
  border: 1px solid #767676;
  outline: none;
  margin: auto;
  padding: 0%;
  width: 251px;
  padding-left: 10px;
}
.custom_input:placeholder {
  font-family: open sans light;
  color: #767676;
}
.backgr_left {
  width: 542px;
  height: 628px;
  background-color: white;
  border-radius: 15px;
  padding: 12px 20px;
  margin-bottom: 10px;
  margin-right: 13px;
}
.backgr_right {
  width: 542px;
  height: 628px;
  background-color: white;
  border-radius: 15px;
  padding: 12px 20px;
  margin-bottom: 10px;
}
.search {
  width: 502px;
  height: 40px;
  border: 1px solid #767676;
  background-color: transparent;
  border-radius: 8px;
  outline: none;
  margin-bottom: 2px;
}
input::placeholder {
  font-family: open sans light;
  color: #767676;
}
#search_order_res {
  width: 500px;
  height: fit-content;
  border-radius: 8px;
  border: 1px solid #767676;
}
#totalPrice {
  padding: 0%;
  margin: auto;
  text-align: end;
  font-size: 30px;
  font-family: open sans;
}
.continute_btn {
  width: 100%;
  height: 47px;
  border: none;
  background-color: #301e67;
  color: white;
  border-radius: 8px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: open sans;
  font-weight: bold;
  padding: 0%;
}
tr {
  width: 480px;
  height: 36px;
  border: none;
  border-bottom: 1px solid black;
}
td {
  color: #301e67;
  font-size: 16px;
  font-family: open sans light;
}
#search_order {
  width: 500px;
  height: 300px;
  overflow-y: scroll;
  border: 0.5px solid #767676;
  border-radius: 8px;
  margin-top: 10px;
}

#content {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 252px;
  left: 0;
  top: 0;
  border-radius: 10px;
  border: 1px solid #301e67;
  margin: 0 1 0 0;
}
#content1 {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 252px;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  border: 1px solid #301e67;
  margin: 0 1 0 0;
}

p {
  margin: auto;
  height: 36px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-family: open sans light;
  cursor: pointer;
}
p:hover {
  background-color: #dcd4e1;
  color: #301e67;
}
h3 {
  font-size: 16px;
  width: 251px;
  height: 52px;
  background-color: #301e67;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  margin: auto;
  padding-left: 15px;
  font-family: open sans light;
  font-weight: bold;
}
#datepicker {
  width: 85%;
  height: 54px;
  border: none;
  background-color: transparent;
  outline: none;
}
#dropdownMenuButton {
  /* width: 15%;
    height: 52px; */
  background-color: transparent;
  border: none;
  outline: none;
}
